<H1>Welcome to the YUM YUM Candy Shop!</H1>

<%= link_to 'Sign Up', new_user_path %> 
<%= link_to 'Sign In', signin_path %>

<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>